.darkmode-label {
  width: 45px;
  height: 22px;
  position: relative;
  display: block;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
}

.darkmode-label:after {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;

}
.container-buttons input {
  width: 0;
  height: 0;
  visibility: hidden;
}
#darkmode-toggle:checked + label {
  background: #242424;
}
#darkmode-toggle:checked + label:after {
  left: 42px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777,#3a3a3a);
}
.darkmode-label:active:after {
  width: 20px;
}
label svg {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  z-index: 100;
  background: none;
}

label svg.sun {
  left: 2px;
  color: #fff;
  transition: .3s;
}

label svg.moon {
  right: 3px;
  color: #737373;
  transition: .3s;
}
input:checked + label svg.sun {
  color: #9e9e9e;
}
input:checked + label svg.moon {
  color: #fff;
}


.languages-label {
  width: 45px;
  height: 22px;
  position: relative;
  display: block;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
}

.languages-label::before {
  content: '';
  position: absolute;
  background-image: url('./public/espana.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 2px;
  left: 3px;
  transition: .3s;
}

#languages-toggle:checked + .languages-label::before {
  transform: translateX(130%);
  background-image: url('./public/reino-unido.png');

}